/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(99, 99, 99);
  --color-five: rgb(38, 38, 38);
  --color-six: rgb(78, 206, 144);
  --color-seven: gainsboro;
}
*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-weight: 100;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.4rem;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: black;
}

img {
  max-width: 95vw;
  height: auto;
}

/*///////////////////////////
///FINDER////////////////*/

div#finder {
  position: relative;
  background: black;
  padding: 5px;
  color: white;
  height: 100vh;
  width: 100vw;
}

div#finder ul#items-list {
  background: black;
  color: white;
  margin: 0 0 3px 0;
  padding: 3px;
  max-height: 90%;
  min-width: 95%;
  overflow: hidden;
}

div#finder ul#items-list li {
  min-width: 95vw;
  margin: 0 0 5px 0;
}

div#finder ul#items-list li img {
  display: none;
  min-width: 100%;
}

div#finder li:focus {
  background: yellow;
  color: black;
}

div#messages {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: black;
  color: white;
  top: 0;
  left: 0;
  padding: 50px 5px 5px 5px;
  background-image: url("../images/space.gif");
  background-size: cover;
}

div#messages div {
  text-align: center;
  //display: none;
}
