/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(99, 99, 99);
  --color-five: rgb(38, 38, 38);
  --color-six: rgb(78, 206, 144);
  --color-seven: gainsboro;
}
*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-weight: 100;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.4rem;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 0 0 -1px;
}

/*///////////////////////////
///FINDER////////////////*/

div#page-list {
  position: relative;
  background: black;
  padding: 0px;
  color: white;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

div#page-list ul#items-list {
  background: black;
  color: white;
  margin: 0 0 3px 0;
  padding: 3px;
  height: auto;
  min-width: 100%;
  overflow: hidden;
}

div#page-list ul#items-list li {
  min-width: 100vw;
  margin: 0 0 5px 0;
  color: white;
  list-style-type: none;
}

div#page-list ul#items-list li:focus {
  background-color: yellow;
  color: black;
}

div#page-list ul#items-list li img {
  display: none;
  min-width: 100%;
}

@keyframes color-change {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

div#page-list li.delete {
  animation: color-change linear 2s;
}

div#messages {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: black;
  color: white;
  top: 0;
  left: 0;
  padding: 50px 5px 5px 5px;
  background-image: url("../images/space.gif");
  background-size: cover;
}

div#messages div {
  text-align: center;
}

div#toast {
  position: fixed;
  height: auto;
  top: -100px;
  background: black;
  color: white;
  z-index: 6000;
  min-width: 100%;
  padding: 5px;
  text-align: center;
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: orange;
  color: white;
  z-index: 100000;
  padding: 5px;
  top: 70vh;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(-100vw, 0px);
}

div#side-toast img {
  width: 60px;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
  position: fixed;
  z-index: 2000;
  bottom: 10px;
  left: 0px;
  height: 18px;
  z-index: 6;
  background: none;
  min-width: 100vw;
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  background: none;
  color: white;
  padding: 2px;
  font-size: 0.8rem;
  text-align: center;
}

div#bottom-bar div#button-center {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  text-align: center;
}

div#bottom-bar div#button-center img {
  position: fixed;
  bottom: 5px;

  left: 46%;
  width: 30px;
}

div#bottom-bar div#button-left {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  text-align: left;
  width: 32%;
}

div#bottom-bar div#button-left img {
  position: fixed;
  bottom: 5px;
  left: 10px;
  width: 30px;
}

div#bottom-bar div#button-right img {
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 30px;
}

div#bottom-bar div#button-right {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  text-align: right;
}

/*/////////////////
///TOP-BAR///////*/

div#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 18px;
  z-index: 4;
  background: black;
  min-width: 100vw;
  display: none;
}

div#top-bar img {
  margin: 3px 0 0 5px;
  max-height: 15px;
  color: white;
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  background: black;
  color: white;
  padding: 2px;
}

div#top-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: center;
}

div#top-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 20px;
  text-align: left;
  width: 30%;
}

div#top-bar div#button-right {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: right;
}

div#page-options div.item:focus {
  background: yellow;
  color: black;
}

div#page-options div.item {
  background: black;
  color: white;
}

#KaiOsAds-Wrapper {
  margin: 0px 0 0 0;
}

#KaiOsAds-Wrapper-Title {
  margin: 15px 0 5px 0;
  font-size: 11px;
  color: white;
}

#dir-not-exist {
  display: none;
}
